body {
  margin: 0;
  text-align: center;
  font-family: Arial;
  background: #1e1e1e;
}

.game-board {
  width: 90vmin;
  height: 90vmin;
  margin: auto;
  background: url("https://upload.wikimedia.org/wikipedia/commons/3/30/Ludo_board.png");
  background-size: cover;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
